*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #f3f9fb;
}

.MuiTextField-root {
  background: #fefbf6;
}

.container {
  margin: 5% 5% 2%;
  height: 100%;
  min-width: 400px;
}

a {
  color: #eaeaea;
  font-size: x-large;
  margin: 0 2rem;
}

nav {
  display: flex;
  justify-content: center;
}
