*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #dbe2ef;
  /* margin: 0 auto; */
  min-height: 100vh;
  max-height: 90vh;
  min-height: 90vh;
}

.MuiTextField-root {
  background: #fefbf6;
}

.container {
  margin: 0 5% 2%;
  max-height: 90vh;
  min-height: 90vh;
}

a {
  color: #eaeaea;
  font-size: x-large;
  margin: 0 2rem;
}

nav {
  display: flex;
  justify-content: center;
}
